:root {
    --color-primary: #FFD700;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #CCCCCC;
    background-color: #333
}

a{
    text-decoration: none;
    color: rgb(165, 203, 241);
}

.logoContainer{
    cursor: pointer;
}

.logo{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.logoHandleBars{
    border: 3px solid orange;
}

.logoReact{
    border: 3px solid #61dafb;
}

.logoAngular{
    border: 3px solid #dd0031;
}

.title{
    color: var(--color-primary);
}

.imgPhotoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPhotoContainer img{
    height: 230px;
    border-radius: 75px;
    border: 5px solid var(--color-primary);
}